.c{
    text-align: center;
}
div,input{
    padding:5px;font-size:1em;
}
input{
    width:85%;
}
body{
    text-align: center;font-family:verdana;
}
button{
    border:0;border-radius:1rem;background-color:#00395a;color:#fff;line-height:2.4rem;font-size:1.2rem;width:15%;
}
.q{
    float: right;width: 64px;text-align: right;
}

.q{
    float: right;width: 64px;text-align: right;
}

label{
    max-width: 50px;
    white-space: nowrap;
}
